# Core
streamlit
pandas
numpy
joblib
scikit-learn

# LangChain & HuggingFace
langchain
langchain-community
langchain-huggingface
sentence-transformers
transformers

# Vector DB
chromadb
pysqlite3-binary

# Fix protobuf conflict
protobuf==4.23.3